@page "/counter"
@using BlazorApp.Shared
@inject CounterState cnt

<h1>Counter</h1>

<p>Current count: @(cnt.CurrentCount)</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private void IncrementCount()
    {
        cnt.CurrentCount = cnt.CurrentCount + 1;
    }
}
